:root {
  --main-bg-color: #1c0221;
  --primary-color: #f5fff5;
  --second-color: #eb5e55;
  --third-color: #98d9c2;
  --fourth-color: #f19a3e;
  --shadow: 0px 2px 5px #000;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--main-bg-color);
}

h1,
h2,
p,
span {
  color: var(--primary-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: var(--shadow);
}

h1,
h2 {
  font-family: "Alata", sans-serif;
}

p,
button {
  font-family: "Open Sans", sans-serif;
}

.flex-container {
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  max-width: 90%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

@media screen and (max-width: 500px) {
  .flex-container {
    height: 300px;
  }
}

.flex-item {
  border: 3px solid rgb(245, 243, 243);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.flex-item.one {
  border-color: var(--second-color);
}
.flex-item.two {
  border-color: var(--third-color);
}
.flex-item.three {
  border-color: var(--fourth-color);
}
.flex-item.four {
  border-color: rgb(1, 212, 212);
}

.controls-container {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .controls-container {
    flex-direction: column;
    align-items: center;
  }
}

.control {
  display: flex;
  flex-direction: column;
  width: 150px;
  max-width: 100%;
}

.control h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-shadow: var(--shadow);
}

@media screen and (max-width: 500px) {
  .control {
    width: 300px;
  }

  .control h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.control .button {
  margin-bottom: 10px;
  box-shadow: var(--shadow);
}

.button {
  background: none;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  color: var(--primary-color);
}

.button:hover {
  font-weight: 600;
}

.button.active {
  background-color: var(--primary-color);
  color: black;
  font-weight: 600;
}

.tagline {
  padding: 2rem 0;
  color: var(--primary-color);
  text-align: center;
}

.tagline a {
  color: var(--third-color);
}

/* FLEX CLASSES **************************/

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}
